/*
css gradients
http://colinkeany.com/blend/
*/

body {
    background-color: black;
}
#planets{
  font-size: 700%;
position: relative;
 width: 8em;
 height: 8em;
  margin: auto;
}
#circle {

  width: 8em;
  height: 8em;
  background: #000;
  background:radial-gradient(rgb(89, 255, 206), rgb(0, 0, 0));

  border-radius: 50%;
  margin: auto;
}

#circle-2 {
  font-size: 400%;
  width: 8em;
  height: 8em;
  background: #000;
  background:radial-gradient(rgb(250, 255, 152), rgb(0, 0, 0));
   border-radius: 50%;

 position: absolute;
    top: 300px;
    left: 0px;
    right: -70%;
    width: 400px;
    height: 400px;
    margin: auto;

} #circle-3 {
	width: 25px;
	height: 25px;
	background: white;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;

  position: absolute;
    top: 100px;
    left: 0px;
    right: -115%;
    width: 10px;
    height: 10px;
    margin: auto;

  } #circle-4 {
	width: 10px;
	height: 10px;
	background: white;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 50px;

  position: absolute;
    top: 100px;
    left: 12px;
    right: 93%;
    width: 9px;
    height: 9px;
    margin: auto;

     } #circle-5 {
       font-size: 15%;
	width: 10%;
	height: 10%;
	background:radial-gradient(rgb(89, 116, 255), rgb(235, 0, 211));
	-moz-border-radius: 20%;
	-webkit-border-radius: 20%;
	border-radius: 60%;

  position: absolute;
    top: 40%;
    left: 10%;
    right: 90em;
    width: 20em;
    height: 2em;
    animation: move 10s ease infinite;
    margin: auto;

  }


@keyframes move {

  0% {
    top: 0;
    left: 0;
    transform: rotate(10deg);
  }

15% {
  top: 10;
  left: 20em;
  transform: rotate(0deg);
}


 89% {
  top: 9em;
  left:9em;
  transform: rotate(0deg);
  }

  32% {
   top: 5em;
   left:5;
   transform: rotate(0deg);

 }

 100% {
    top:0
    left:0;
    transform: rotate(0deg);
  }

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}


